.user-card {
  margin: 15px 20px;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      text-align: start;
    }

    .key {
      font-weight: bold;
      font-size: 14px;
    }

    .btn-holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      button {
        i {
          margin-right: 8px;
        }
      }
    }
  }
}
